:root {
    --s-color: #ff7f80;
    --a-color: #ffc07f;
    --c-color: #ffff7f;
    --b-color: #ffdf80;
    --d-color: #bfff7f;
    --e-color: #7fff7f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
}

body {
    background-color: #181818;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    user-select: none;
    color: white;
}

#top-header {
    background-color: #0c0c0c;
    padding: 10px;
    text-align: center;

    & img {
        max-width: 300px;
        height: auto;
    }
}

main {
    max-width: 75%;
    min-width: 500px;
    margin-inline: auto;
}

#tierlist {
    border: 1px solid #080808;
    display: flex;
    flex-direction: column;
    background-color: #2e2e2e;
}

.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #0c0c0c;
    transition: all 0.3s ease;

    /* fix */
    & .dragover {
        scale: 1.1;
        background-color: #6d6c6c;
    }
}

.title {
    color: white;
    padding: 10px;
    text-align: center;
}

.label {
    background: var(--level, #2100b6);
    cursor: pointer;
    color: #0c0c0c;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: center;
    border-right: 1px solid #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;

    & span:focus {
        outline: none;
    }
}

#options {
    display: flex;
    gap: 25px;
    margin-top: 15px;
    flex-direction: row;
    padding: 10px;
    justify-content: center;

    & button,
    & label {
        cursor: pointer;
        transition: all 0.3s ease;
        width: 24px;
        height: 24px;

        &:hover {
            color: var(--s-color);
            scale: 1.1;
        }
    }

    & svg {
        width: 100%;
        height: 100%;
    }

}

#items {
    border: 1px solid #666666;
    width: 100%;
    height: 320px;
    margin-top: 25px;
    margin-bottom: 70px;
    display: flex;
}

.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: grab;
}

.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.btn .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.btn .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}